.navPagination {
  margin-left: 70px;
  margin-bottom: 50px;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.paginationIndex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

li {
  cursor: pointer;
  height: 25px;
  width: 25px;
  text-align: center;
  line-height: 25px;
  border-radius: 100%;
  margin: 5px;
  padding: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  color: blanchedalmond;
  background-color: black;
  transition: padding 0.2s ease-in-out;
}
.active {
  background: whitesmoke;
  color: black;
  padding: 5px;
}

li:hover {
  padding: 15px;
}

.firstPage {
  cursor: pointer;
  text-align: center;
  line-height: 25px;
  border-radius: 35px;
  outline-style: none;
  margin: 6px;
  padding: 8px;
  background: black;
  color: aliceblue;
  transition: padding 0.2s ease-in-out;
}
.firstPage:hover {
  padding: 15px;
}

.prevPage {
  cursor: pointer;
  text-align: center;
  line-height: 25px;
  border-radius: 35px;
  outline-style: none;
  margin: 6px;
  padding: 8px;
  background: black;
  color: aliceblue;
  transition: padding 0.2s ease-in-out;
}

.prevPage:hover {
  padding: 15px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
}

.nextPage {
  cursor: pointer;
  text-align: center;
  line-height: 25px;
  border-radius: 35px;
  outline-style: none;
  margin: 6px;
  padding: 8px;
  background: black;
  color: aliceblue;
  transition: padding 0.2s ease-in-out;
}

.nextPage:hover {
  padding: 15px;
}

.lastPage {
  cursor: pointer;
  text-align: center;
  line-height: 25px;
  border-radius: 35px;
  outline-style: none;
  margin: 6px;
  padding: 8px;
  background: black;
  color: aliceblue;
  transition: padding 0.2s ease-in-out;
}

.lastPage:hover {
  padding: 15px;
}
